asgiref==3.4.1
bcrypt==3.2.0
cffi==1.15.0
cryptography==35.0.0
Django==3.2.8
future==0.18.2
netmiko==3.4.0
ntc-templates==2.3.2
paramiko==2.8.0
pycparser==2.20
PyNaCl==1.4.0
pyserial==3.5
pytz==2021.3
scp==0.14.1
six==1.16.0
sqlparse==0.4.2
tenacity==8.0.1
textfsm==1.1.2
